.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  padding: 0 var(--space-md);
  max-width: var(--container-width-md);
  margin: 0 auto;
}

.entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-lg);
}

.entryReverse {
  flex-direction: row-reverse;
}

.block {
  flex: 1;
}

.entryReverse .block {
  text-align: right;
}

.symbol {
  flex-shrink: 0;
  width: max-content;
  display: grid;
  place-items: center;
  font-size: var(--fs-4);
  color: var(--color-secondary);
}

.text {
  font-size: var(--fs-7);
  color: var(--color-primary);
}

.symbolDesktop {
  display: inline;
}

.symbolMobile {
  display: none;
}

@media (--bp-md) {
  .text {
    font-size: var(--fs-9);
  }

  .symbolDesktop {
    display: none;
  }

  .symbolMobile {
    display: inline;
  }
}
