.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-lg);
  padding: 0 var(--space-md);
}

.group {
  display: block;
}

.email {
  font-size: var(--fs-7);
  color: var(--color-primary);
}

.icons {
  display: flex;
  gap: var(--space-md);
}

.iconLink {
  display: grid;
  place-items: center;
  width: var(--space-xl);
  height: var(--space-xl);
  border-radius: 50%;
  border: var(--border-default);
  color: var(--color-primary);
  text-decoration: none;
  transition:
    background-color var(--duration-xs),
    color var(--duration-xs);
}

.socialIcon {
  font-size: var(--fs-5);
}

.iconLink:hover {
  background-color: var(--color-secondary);
  color: var(--color-background);
}
