.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  gap: var(--space-md);
  padding: 0 var(--space-md);
  text-align: center;
}

.code {
  font-size: var(--fs-1);
  color: var(--color-secondary);
  line-height: 1;
}

.message {
  font-size: var(--fs-4);
  color: var(--color-primary);
}

@media (--bp-sm) {
  .code {
    font-size: var(--fs-2);
  }

  .message {
    font-size: var(--fs-5);
  }
}
