.cardWrapper {
  display: flex;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-md);
  padding: 0 var(--space-md);
}

.footer {
  text-align: center;
  padding: var(--space-xl) 0 0 0;
}
